/* home */
.home {
    margin-top:200px;
}


/* LineChart */
.line {
    margin: auto;
    width: 600px;
}

/* login.vue */
.login_btn {
    margin-right: 10px;
}

/* join.vue */
.join_okbtn {
    margin-right: 10px;
}